.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.poll-title-card {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.poll-question-card {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.scrollable-cards {
  max-height: 400px;
  overflow-y: auto;
}

.draft-poll-card {
  margin: 10px;
}

.draft-card-content {
  display: flex;
  justify-content: space-between;
}

.poll-list-item {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.create-poll {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-poll-icon {
  font-size: 32px; /* Make the icon larger */
  cursor: pointer;
  color: #1890ff;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.save-cancel-btns {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  .cancel-btn {
    margin-left: 10px;
  }
}

.draft-card-icon {
  font-size: 18px;
  color: #000;
  padding-left: 10px;
}

.edit-icon:hover {
  color: rgb(36, 102, 224);
  cursor: pointer;
}

.delete-icon:hover {
  color: rgb(255, 54, 54);
  cursor: pointer;
}
